<footer class="grid-12-xs last">
	<div class="cont90">
		<div class="grid-4-m">
			<p class="gotham-medium text-dark">NOTICIAS</p>
			<p>Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown.</p>
			<form action="" method="post" class="formfooter">
				<input type="email" name="email_suscribe" class="gotham-book" placeholder="INGRESA TU EMAIL" required>
				<input type="submit" value="SUSCRIBIRSE" class="gotham-medium">
			</form>
		</div>
		<div class="grid-1-m"></div>
		<div class="grid-3-m linksfooter">
    		<p class="gotham-medium text-dark">LINKS IMPORTANTES</p>
    		<a href="">INICIO</a>
    		<a href="">EL LOCAL</a>
    		<a href="">BIOGRAFÍA</a>
    		<a href="">CREACIONES</a>
    		<a href="">NOTICIAS</a>
    		<a href="">EMPIEZA TU CREACIÓN</a>
		</div>
		<div class="grid-1-m"></div>
		<div class="grid-3-m linksfooter last">
			<p class="gotham-medium text-dark">INFORMACIÓN</p>
			<span>BOGOTÁ</span>
			<span>COLOMBIA</span>
			<span>CARRERA 6 #67-74</span>
			<span>+(571) 313-6868</span>
			<span>+(57) 32-469-0562</span>
			<span>contacto@mariaclaraleyva.com</span>
		</div>
	</div>	
</footer>


<script type="text/javascript" src="/public/js/script.min.js"></script>
</body>
</html>