<html>
<head>
    <title>{{ _APP_NAME }} | {{ page_name }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/icomoon/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/gotham/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body>

<header>
	<div class="grid-12-xs last innerheader">
		<div class="grid-12-xs last">
			<div class="grid-4-xs menuhead text-right">
				<a href="/inicio" class="{% if page_name == 'Home' or page_name == '' %} gotham-medium text-black selected {% endif %}">INICIO</a>
				<a href="/historia" class="{% if page_name == 'Historia' %} gotham-medium text-black selected {% endif %}">HISTORIA</a>
				<a href="/el-local" class="{% if page_name == 'Local' %} gotham-medium text-black selected {% endif %}">LOCAL</a>
			</div>
			<div class="grid-4-xs">
				<a href="/"><img id="imghead" src="/public/img/logohead.png" alt="Logo Maria Clara Leyva"></a>
			</div>
			<div class="grid-4-xs menuhead last">
				<a href="/catalogo" class="{% if page_name == 'Catalogo' %} gotham-medium text-black selected {% endif %}">CATÁLOGO</a>
				<a href="/blog" class="{% if page_name == 'Blog' %} gotham-medium text-black selected {% endif %}">BLOG</a>
				<a href="/tu-creacion" class="{% if page_name == 'Creacion' %} gotham-medium text-black selected {% endif %}">TU CREACIÓN</a>
			</div>
		</div>
	</div>
</header>
