@import 'helpers/all';
@import 'plugins/all';
@import 'base/all';

$pink:#f083a1;
$green:#87cdbd;
$orange:#f9ae4c;


.menuhead {
	a {
		color: #58595b;
		text-decoration: none;
		font-size: 14px;
		padding: 21px 8px;
		display: inline-block;
		border-top: 6px solid #fff;
		&:hover {
			border-top: 6px solid $pink;
		}
	}
	a.selected {
		border-top: 6px solid $pink;
	}
}

.text-black {
	color: #000!important;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	background-color: #fff;
}

footer {
	background-color: #f0f0f0;
	padding: 25px 0 50px 0;
}

.text-dark {
	color: #58595b;
}

.formfooter {
	input[type="email"] {
		width: 100%;
		background-color: #fff;
		font-size: 14px;
		border: none;
		height: 37px;
		text-indent: 15px;
		margin-bottom: 15px;
	}
	input[type="submit"] {
		width: 100%;
		background-color: #4d4d4d;
		border: none;
		color: #fff;
		font-size: 14px;
		height: 37px;
		text-indent: 15px;
	}
}

.linksfooter {
	a, span {
		display: block;
		text-decoration: none;
		color: #979797;
		padding: 4px 0;

	}
}

.mensajehome {
	position: absolute;
	left: 20%;
	top: 200px;
	h1 {
		color: #fff;
		font-size:48px;
	}
}

@media (max-width: 1110px) {
	.mensajehome {
		top: 160px;
	}
}

@media (max-width: 950px) {
	.mensajehome {
		top: 100px;
		h1 {
			font-size:40px;
		}
	}
}

@media (max-width: 950px) {
	.mensajehome {
		position: relative;
		top: 0;
		left: 0;
		h1 {
			color: #808080;
			margin-top: 40px;
		}
	}
}

#imghead {
	@include transition(0.5s);
	&:hover {
		opacity:0.6;
	}
}

.menuup-scrolled {
    box-shadow: 0 6px 4px -4px rgba(0,0,0,.3);
}

.titulo {
	display: inline-block;
	font-size: 36px;
	color: #808080;
	margin: 40px 0;
	padding: 0 30px;
	text-align: center; 

}

.titulo-green {
	border-bottom: 5px solid $green;
}

.titulo-pink {
	border-bottom: 5px solid $pink;
}

.titulo-orange {
	border-bottom: 5px solid $orange;
}

.biografiadontenido {
	margin: 25px 0;
}

.mensajes {
	margin-top: 40px;
}

.mensaje {
	p {
		color: #fff;
		position: absolute;
		text-align: center;
		bottom: 10px;
		left: 20px;
		font-size: 20px;
		display: none;
	}
	&:hover {
		p {
			display:inline-block;
		}
	}
}

p {
	color: #808080;
}

.titcrea {
	margin-top: 30px;
}

.creaciones {
	margin-top: 30px;
	margin-bottom:30px;
}

.titulocreacion {
	margin: 40px 0 20px 0;
}

.localimg {
	margin-top: 30px;
}

.textlocal {
	margin: 55px 0;
	color: #808080;
}

.form {
	input[type="email"],
	input[type="text"],
	textarea {
		width: 100%;
		background-color:#E6E6E6;
		border: none;
		text-indent: 15px;
		border: 2px solid #fff;
		@include transition(0.4s);
		&:focus {
			outline:none;
			border: 2px solid #ccc;
		}
	}
	input[type="email"],
	input[type="text"] {
		height: 40px;
	}
	input[type="submit"] {
		width: 100%;
		background-color: #666666; 
		height: 40px;
		border: none;
		color:#fff;
		&:hover {
			background-color:#333;
		}
	}
}

label.select {
	position: relative;
	&:after {
		content: '<>';
		font:11px "Consolas", monospace;
		color: #808080;
		position:absolute;
		left: 8px;
		top: 3px;
		-webkit-transform:rotate(90deg);
	    -moz-transform:rotate(90deg);
	    -ms-transform:rotate(90deg);
	    transform:rotate(90deg);
	}
}
select {
	text-transform: capitalize;
	border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 100%;
	background-color:#E6E6E6;
	border: none;
	text-indent: 15px;
	border: 2px solid #fff;
	height: 40px;
}