
@font-face {
  font-family: 'Gotham-UltraItalic';
  src: url('Gotham-UltraItalic.eot?#iefix') format('embedded-opentype'),  url('Gotham-UltraItalic.otf')  format('opentype'),
	     url('Gotham-UltraItalic.woff') format('woff'), url('Gotham-UltraItalic.ttf')  format('truetype'), url('Gotham-UltraItalic.svg#Gotham-UltraItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham-Ultra';
  src: url('Gotham-Ultra.eot?#iefix') format('embedded-opentype'),  url('Gotham-Ultra.otf')  format('opentype'),
	     url('Gotham-Ultra.woff') format('woff'), url('Gotham-Ultra.ttf')  format('truetype'), url('Gotham-Ultra.svg#Gotham-Ultra') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GothamRounded-BookItalic';
  src: url('GothamRounded-BookItalic.eot?#iefix') format('embedded-opentype'),  url('GothamRounded-BookItalic.otf')  format('opentype'),
	     url('GothamRounded-BookItalic.woff') format('woff'), url('GothamRounded-BookItalic.ttf')  format('truetype'), url('GothamRounded-BookItalic.svg#GothamRounded-BookItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GothamRounded-Book';
  src: url('GothamRounded-Book.eot?#iefix') format('embedded-opentype'),  url('GothamRounded-Book.otf')  format('opentype'),
	     url('GothamRounded-Book.woff') format('woff'), url('GothamRounded-Book.ttf')  format('truetype'), url('GothamRounded-Book.svg#GothamRounded-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GothamRounded-MediumItalic';
  src: url('GothamRounded-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('GothamRounded-MediumItalic.otf')  format('opentype'),
	     url('GothamRounded-MediumItalic.woff') format('woff'), url('GothamRounded-MediumItalic.ttf')  format('truetype'), url('GothamRounded-MediumItalic.svg#GothamRounded-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GothamRounded-Medium';
  src: url('GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),  url('GothamRounded-Medium.otf')  format('opentype'),
	     url('GothamRounded-Medium.woff') format('woff'), url('GothamRounded-Medium.ttf')  format('truetype'), url('GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GothamRounded-LightItalic';
  src: url('GothamRounded-LightItalic.eot?#iefix') format('embedded-opentype'),  url('GothamRounded-LightItalic.otf')  format('opentype'),
	     url('GothamRounded-LightItalic.woff') format('woff'), url('GothamRounded-LightItalic.ttf')  format('truetype'), url('GothamRounded-LightItalic.svg#GothamRounded-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GothamRounded-Light';
  src: url('GothamRounded-Light.eot?#iefix') format('embedded-opentype'),  url('GothamRounded-Light.otf')  format('opentype'),
	     url('GothamRounded-Light.woff') format('woff'), url('GothamRounded-Light.ttf')  format('truetype'), url('GothamRounded-Light.svg#GothamRounded-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'GothamRounded-Book', helvetica;
}


.gotham-ultra-italic {
	font-family: 'Gotham-UltraItalic', helvetica;
}
.gotham-ultra {
	font-family: 'Gotham-Ultra', helvetica;
}
.gotham-book-italic {
	font-family: 'GothamRounded-BookItalic', helvetica;
}
.gotham-book {
	font-family: 'GothamRounded-Book', helvetica;
}
.gotham-medium-italic {
	font-family: 'GothamRounded-MediumItalic', helvetica;
}
.gotham-medium {
	font-family: 'GothamRounded-Medium', helvetica;
}
.gotham-light-italic {
	font-family: 'GothamRounded-LightItalic', helvetica;
}
.gotham-light {
	font-family: 'GothamRounded-Light', helvetica;
}








