{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}

    <div class="grid-12-xs last maincontent">

    	<!-- NUESTRAS CREACIONES -->

    	<div class="grid-12-xs last creaciones text-center">
		
			<div class="grid-12-xs"></div>
    			<p class="gotham-medium titulo titulo-pink">NUESTRAS CREACIONES</p>
    		</div>
    		<div class="cont90">
    			<div class="grid-12-xs last titcrea">
		    		<div class="grid-3-m text-center">
		    			<img src="/public/img/c1.png" alt="Creación Maria Clara Leyva">
		    			<p class="titulocreacion text-dark gotham-medium">NOMBRE CREACIÓN</p>
		    			<p>Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal.</p>
		    		</div>
		    		<div class="grid-3-m text-center">
		    			<img src="/public/img/c2.png" alt="Creación Maria Clara Leyva">
		    			<p class="titulocreacion text-dark gotham-medium">NOMBRE CREACIÓN</p>
		    			<p>Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal.</p>
		    		</div>
		    		<div class="grid-3-m text-center">
		    			<img src="/public/img/c3.png" alt="Creación Maria Clara Leyva">
		    			<p class="titulocreacion text-dark gotham-medium">NOMBRE CREACIÓN</p>
		    			<p>Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal.</p>
		    		</div>
		    		<div class="grid-3-m text-center last">
		    			<img src="/public/img/c4.png" alt="Creación Maria Clara Leyva">
		    			<p class="titulocreacion text-dark gotham-medium">NOMBRE CREACIÓN</p>
		    			<p>Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal.</p>
		    		</div>
	    		</div>
	    		<div class="grid-12-xs last titcrea">
		    		<div class="grid-3-m text-center">
		    			<img src="/public/img/c1.png" alt="Creación Maria Clara Leyva">
		    			<p class="titulocreacion text-dark gotham-medium">NOMBRE CREACIÓN</p>
		    			<p>Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal.</p>
		    		</div>
		    		<div class="grid-3-m text-center">
		    			<img src="/public/img/c2.png" alt="Creación Maria Clara Leyva">
		    			<p class="titulocreacion text-dark gotham-medium">NOMBRE CREACIÓN</p>
		    			<p>Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal.</p>
		    		</div>
		    		<div class="grid-3-m text-center">
		    			<img src="/public/img/c3.png" alt="Creación Maria Clara Leyva">
		    			<p class="titulocreacion text-dark gotham-medium">NOMBRE CREACIÓN</p>
		    			<p>Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal.</p>
		    		</div>
		    		<div class="grid-3-m text-center last">
		    			<img src="/public/img/c4.png" alt="Creación Maria Clara Leyva">
		    			<p class="titulocreacion text-dark gotham-medium">NOMBRE CREACIÓN</p>
		    			<p>Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal.</p>
		    		</div>
	    		</div>
	    		<div class="grid-12-xs last titcrea">
		    		<div class="grid-3-m text-center">
		    			<img src="/public/img/c1.png" alt="Creación Maria Clara Leyva">
		    			<p class="titulocreacion text-dark gotham-medium">NOMBRE CREACIÓN</p>
		    			<p>Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal.</p>
		    		</div>
		    		<div class="grid-3-m text-center">
		    			<img src="/public/img/c2.png" alt="Creación Maria Clara Leyva">
		    			<p class="titulocreacion text-dark gotham-medium">NOMBRE CREACIÓN</p>
		    			<p>Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal.</p>
		    		</div>
		    		<div class="grid-3-m text-center">
		    			<img src="/public/img/c3.png" alt="Creación Maria Clara Leyva">
		    			<p class="titulocreacion text-dark gotham-medium">NOMBRE CREACIÓN</p>
		    			<p>Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal.</p>
		    		</div>
		    		<div class="grid-3-m text-center last">
		    			<img src="/public/img/c4.png" alt="Creación Maria Clara Leyva">
		    			<p class="titulocreacion text-dark gotham-medium">NOMBRE CREACIÓN</p>
		    			<p>Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal.</p>
		    		</div>
	    		</div>
			</div>
    	</div>

    </div>

{{ include('inc/_footer.twig') }}