{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}

    <div class="grid-12-xs last maincontent">

    	<div class="grid50">
    		<img src="/public/img/creacion.png">
    	</div>
    	<div class="grid50">
    		<div class="cont90">
    			<h2 class="text-uppercase gotham-medium text-dark">Empieza tu Creación</h2>
    			<p class="text-justify">Hoodie pork belly heirloom, tumblr chicharrones actually pickled 8-bit offal YOLO godard pinterest viral. Tilde leggings mixtape microdosing, gastropub glossier letterpress sartorial skateboard everyday carry lyft seitan. Church-key squid polaroid kinfolk slow-carb air plant.</p>
    			<form class="form" action="/tu-creacion/contacto" method="POST" enctype="multipart/form-data">
    				<p class="gotham-medium text-dark">NOMBRE</p>
    				<input type="text" name="nombre" placeholder="Ingresa tu Nombre" class="gotham-book" required>
    				<p class="gotham-medium text-dark">EMAIL</p>
    				<input type="email" name="nombre" placeholder="Ingresa tu Nombre" class="gotham-book" required>
    				<p class="gotham-medium text-dark">CELULAR</p>
    				<input type="text" name="nombre" placeholder="Ingresa tu Nombre" class="gotham-book" required>
    				<p class="gotham-medium text-dark">MOTIVO</p>
    				<label class="select">
    					<select name="motivo" class="gotham-book" required> 
    						<option value="Fiesta">Fiesta Infantil</option>
    						<option value="Fiesta">Fiesta Infantil</option>
    						<option value="Fiesta">Fiesta Infantil</option>
    					</select>
    				</label>
    				<p class="gotham-medium text-dark">Algun Referente?</p>
    				<input type="file" name="referente"><br><br>
    				<input type="submit" value="ENVIAR MENSAJE" class="gotham-medium">
    			</form>
    		</div>
    	</div>

    </div>

{{ include('inc/_footer.twig') }}