{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}

    <div class="grid-12-xs last maincontent">
    
        <div class="grid-12-x biografia text-center last" style="background-size:100%;background-position:top left;background-image:url(/public/img/toldo.png);">
            <div class="grid-12-xs"></div>
                <p class="gotham-medium titulo titulo-green">HISTORIA</p>
            </div>
            <div class="biografiadontenido grid-12-xs last">
                <div class="cont90">
                    <div class="grid-4-m">
                        <img src="/public/img/MCL.png" alt="Maria Clara Leyva">
                    </div>
                    <div class="grid-8-m last  text-left">
                        <h3 class="gotham-medium">MARÍA CLARA LEYVA - <span class="gotham-book-italic">FUNDADORA</span></h3>
                        <div class="grid-6-m">
                            <p class="text-justify">Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal. Try-hard synth mlkshk cronut, man braid seitan gluten-free blue bottle shoreditch bicycle rights whatever. Roof party artisan normcore, health goth celiac vice tilde. Affogato four dollar toast freegan letterpress, drinking vinegar wayfarers health goth sriracha. Raw denim tacos lyft fashion axe intelligentsia, next level pop-up 3 wolf moon distillery lumbersexual sartorial knausgaard bitters.</p>
                        </div>
                        <div class="grid-6-m last">
                            <p class="text-justify">Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal. Try-hard synth mlkshk cronut, man braid seitan gluten-free blue bottle shoreditch bicycle rights whatever. Roof party artisan normcore, health goth celiac vice tilde. Affogato four dollar toast freegan letterpress, drinking vinegar wayfarers health goth sriracha. Raw denim tacos lyft fashion axe intelligentsia, next level pop-up 3 wolf moon distillery lumbersexual sartorial knausgaard bitters.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-12-xs last mensajes">
                <a href=""><div class="grid33 text-center mensaje">
                    <p class="gotham-medium">MENSAJE</p>
                    <img src="/public/img/mensaje1.png" alt="Mensaje 1">
                </div></a>
                <a href=""><div class="grid33 text-center mensaje">
                    <p class="gotham-medium">MENSAJE</p>
                    <img src="/public/img/mensaje2.png" alt="Mensaje 1">
                </div></a>
                <a href=""><div class="grid33 text-center mensaje">
                    <p class="gotham-medium">MENSAJE</p>
                    <img src="/public/img/mensaje3.png" alt="Mensaje 1">
                </div></a>
            </div>
        </div>

    </div>

{{ include('inc/_footer.twig') }}   
    