{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}

    <div class="grid-12-xs last maincontent">

    <!-- VIDEO DEL HOME -->

    	<div class="grid-12-xs last homevideo">
    		<img src="/public/img/backhome.png" alt="Creaciones Maria Clara Leyva">
    		<div class="cont60 mensajehome text-center">
    			<h1 class="gotham-medium">DETALLES QUE HACEN <br> LA DIFERENCIA</h1>
    		</div>
    	</div>

    	<!-- BIOGRAFÍA -->

    	<div class="grid-12-x biografia text-center last" style="background-size:100%;background-position:top left;background-image:url(/public/img/toldo.png);">
    		<div class="grid-12-xs"></div>
    			<p class="gotham-medium titulo titulo-green">HISTORIA</p>
    		</div>
    		<div class="biografiadontenido grid-12-xs last">
	    		<div class="cont90">
		    		<div class="grid-4-m">
		    			<img src="/public/img/MCL.png" alt="Maria Clara Leyva">
		    		</div>
		    		<div class="grid-8-m last  text-left">
		    			<h3 class="gotham-medium">MARÍA CLARA LEYVA - <span class="gotham-book-italic">FUNDADORA</span></h3>
		    			<div class="grid-6-m">
		    				<p class="text-justify">Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal. Try-hard synth mlkshk cronut, man braid seitan gluten-free blue bottle shoreditch bicycle rights whatever. Roof party artisan normcore, health goth celiac vice tilde. Affogato four dollar toast freegan letterpress, drinking vinegar wayfarers health goth sriracha. Raw denim tacos lyft fashion axe intelligentsia, next level pop-up 3 wolf moon distillery lumbersexual sartorial knausgaard bitters.</p>
		    			</div>
		    			<div class="grid-6-m last">
		    				<p class="text-justify">Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal. Try-hard synth mlkshk cronut, man braid seitan gluten-free blue bottle shoreditch bicycle rights whatever. Roof party artisan normcore, health goth celiac vice tilde. Affogato four dollar toast freegan letterpress, drinking vinegar wayfarers health goth sriracha. Raw denim tacos lyft fashion axe intelligentsia, next level pop-up 3 wolf moon distillery lumbersexual sartorial knausgaard bitters.</p>
		    			</div>
		    		</div>
	    		</div>
    		</div>
    		<div class="grid-12-xs last mensajes">
    			<a href=""><div class="grid33 text-center mensaje">
    				<p class="gotham-medium">MENSAJE</p>
    				<img src="/public/img/mensaje1.png" alt="Mensaje 1">
    			</div></a>
    			<a href=""><div class="grid33 text-center mensaje">
    				<p class="gotham-medium">MENSAJE</p>
    				<img src="/public/img/mensaje2.png" alt="Mensaje 1">
    			</div></a>
    			<a href=""><div class="grid33 text-center mensaje">
    				<p class="gotham-medium">MENSAJE</p>
    				<img src="/public/img/mensaje3.png" alt="Mensaje 1">
    			</div></a>
    		</div>
    	</div>

    	<!-- NUESTRAS CREACIONES -->

    	<div class="grid-12-xs last creaciones text-center">
		
			<div class="grid-12-xs"></div>
    			<p class="gotham-medium titulo titulo-pink">NUESTRAS CREACIONES</p>
    		</div>
    		<div class="cont90">
    			<div class="grid-12-xs last titcrea">
		    		<div class="grid-3-m text-center">
		    			<img src="/public/img/c1.png" alt="Creación Maria Clara Leyva">
		    			<p class="titulocreacion text-dark gotham-medium">NOMBRE CREACIÓN</p>
		    			<p>Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal.</p>
		    		</div>
		    		<div class="grid-3-m text-center">
		    			<img src="/public/img/c2.png" alt="Creación Maria Clara Leyva">
		    			<p class="titulocreacion text-dark gotham-medium">NOMBRE CREACIÓN</p>
		    			<p>Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal.</p>
		    		</div>
		    		<div class="grid-3-m text-center">
		    			<img src="/public/img/c3.png" alt="Creación Maria Clara Leyva">
		    			<p class="titulocreacion text-dark gotham-medium">NOMBRE CREACIÓN</p>
		    			<p>Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal.</p>
		    		</div>
		    		<div class="grid-3-m text-center last">
		    			<img src="/public/img/c4.png" alt="Creación Maria Clara Leyva">
		    			<p class="titulocreacion text-dark gotham-medium">NOMBRE CREACIÓN</p>
		    			<p>Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal.</p>
		    		</div>
	    		</div>
			</div>
    	</div>

    	<!-- EL LOCAL -->
    	<div class="grid-12-xs last local text-center">
			<div class="grid-12-xs"></div>
    			<p class="gotham-medium titulo titulo-orange">EL LOCAL</p>
    		</div>
    		<div class="grid-12-xs last localimg text-center">
    			<img src="/public/img/local.png" alt="Local Maria Clara Leyva">
    			<div class="cont75">
    				<p class="textlocal">Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal. Try-hard synth mlkshk cronut, man braid seitan gluten-free blue bottle shoreditch bicycle rights whatever. Roof party artisan normcore, health goth celiac vice tilde. Affogato four dollar toast freegan letterpress, drinking vinegar wayfarers health goth sriracha. Raw denim tacos lyft fashion axe intelligentsia, next level pop-up 3 wolf moon distillery lumbersexual sartorial knausgaard bitters.</p>
    			</div>
    		</div>
		</div>

    </div>

{{ include('inc/_footer.twig') }}