{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}

    <div class="grid-12-xs last maincontent">

    	<!-- EL LOCAL -->
    	<div class="grid-12-xs last local text-center">
			<div class="grid-12-xs"></div>
    			<p class="gotham-medium titulo titulo-orange">EL LOCAL</p>
    		</div>
    		<div class="grid-12-xs last localimg text-center">
    			<img src="/public/img/local.png" alt="Local Maria Clara Leyva">
    			<div class="cont75">
    				<p class="textlocal">Shabby chic YOLO helvetica ennui banjo mixtape offal, wayfarers jean shorts church-key. Vice sartorial typewriter vape stumptown. Readymade +1 crucifix, squid organic la croix narwhal. Try-hard synth mlkshk cronut, man braid seitan gluten-free blue bottle shoreditch bicycle rights whatever. Roof party artisan normcore, health goth celiac vice tilde. Affogato four dollar toast freegan letterpress, drinking vinegar wayfarers health goth sriracha. Raw denim tacos lyft fashion axe intelligentsia, next level pop-up 3 wolf moon distillery lumbersexual sartorial knausgaard bitters.</p>
    			</div>
    		</div>
    		<div class="grid-12-xs last">
    			<img src="/public/img/local2.png">
    		</div>
		</div>

    </div>

{{ include('inc/_footer.twig') }}